body {
	color: #202020;
	padding-top: 60px;
}

li {
	color: #404040;
}

section {
	padding-top: 60px;
}

.label {
  font-size: 10.75px;	
}

textarea.code {
	font-family: Monaco, Courier, Mono; 
	height: 20em;
}

.shadow {
	-moz-box-shadow: 0px 1px 2px #aaa;
	-webkit-box-shadow: 0px 1px 2px #aaa;
 	box-shadow: 0px 1px 2px #aaa;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.content {
	display: none;
}

.content.active {
	display: block;
}

.secondary-nav img.gravatar { /* gravatar */
	margin-right: 8px; 
	float:right; 
	margin-top: 6px;
}

.item-box {
	padding: 0px 11px;
	margin-bottom: 11px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.item-box-item {
	padding-bottom: 7px;
}

code {
	background-color: transparent !important; 
}

/* form */

/* for sidebox */
form .clearfix:after {
	clear: none !important;
}

/* Footer
-------------------------------------------------- */
.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
     -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
/*          box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
*/}
.footer p {
  color: #555;
}