body {
	background-color: #eee;
}

li {
	color: #404040;
}

section {
	padding-top: 60px;
}

.container {
	width: 940;
}

.label {
  font-size: 10.75px;	
}

textarea.code {
	height: 20em;
	font-family: "Courier", Fixed;
}

code {
	background-color: transparent !important; 
}

.shadow {
	-moz-box-shadow: 0px 1px 2px #aaa;
	-webkit-box-shadow: 0px 1px 2px #aaa;
 	box-shadow: 0px 1px 2px #aaa;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.container > .row {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 60px;

	background-color: #f9f9f9;
	-webkit-box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.1);
	box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.1);
	
	overflow: hidden;
}

.row {
	margin-left: 0px !important;
}

.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 0px !important;
}

#main {
	background-color: #fff;	
	min-height: 500px;
	border-right: 1px solid #eee;
}

.sidebar {
	padding: 20px;
}
.content-wrap {
	padding: 20px;
	display: none;
}

.content-wrap::before, .content-wrap::after {
	display: table;
	content: "";
	zoom: 1;
}

.content-wrap::after {
	clear: both;
}

.content-wrap.active {
	display: block;
}

.secondary-nav img.gravatar { /* gravatar */
	margin-right: 8px; 
	float:right; 
	margin-top: 6px;
}

.item-box {
	padding: 0px 11px;
	margin-bottom: 11px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.item-box-item {
	padding-bottom: 7px;
}

.notification {
	position: fixed !important;
	bottom: 12px;
	right: 12px;
	z-index: 1000;
}

/* form */

/* for sidebox */
form .clearfix:after {
	clear: none !important;
}

/* Footer
-------------------------------------------------- */
.footer {
  min-width: 940px;
  padding: 20px 0;
*/}
.footer p {
  color: #555;
}