<h1>Page Edit</h1>
<p><a href="#" class="editpage-view-link">View Page</a></p>
<div id="editpage-form-wrapper"></div>

<script>
$.require('lib/views/form/form.js');


// the form
app.editpage_form = new FormView({
	$parent: $('#editpage-form-wrapper'),
	fields: [
		{name:"name", label:"Form ID", mandatory: true},
		{name:"label", label:"Title", mandatory: true},
		{name:"markdown", label:"Content (Markdown)", mandatory: false, type:'textarea', 
			help:'This will overwrite html'},
		{name:"html", label:"HTML", mandatory: false, type:'textarea'},
		{name:"subpage", label:"Sub Pages", type:"itemlist", range:"page"},
		{name:"js", label:"Javascript Code", mandatory: false, type:'textarea'},
		{name:"css", label:"CSS", mandatory: false, type:'textarea'}
	],
	method:'lib.py.objstore.insert',
	success: function() {
		app.editpage_form.set_message('Form Saved', 5000);
	},
	static: {
		type: 'page'
	}
})

app.editpage_form.$wrapper.find('button.btn.secondary').css('display', 'none');


// convert markdown to html
app.editpage_form.inputdict.markdown.$input.change(function() {
	var md = $(this).val();
	if(md) {
		$.require('lib/js/showdown.js');
		if(!app.md_converter) app.md_converter = new Showdown.converter();
			
		// write html
		app.editpage_form.inputdict.html.val(app.md_converter.makeHtml(md));
	}
});


// show from fragment
$("#editpage").bind('_show', function() {
	app.editpage_form.clear();
	app.editpage_form.opts.method = 'lib.py.objstore.insert';

	var editing = location.hash.split('/');
	if(editing.length>1) {
		editing = editing.slice(-1)[0];
		$('.editpage-view-link').attr('href', '#' + editing)
		$.objstore.get("page", editing, function(obj) {
			app.editpage_form.set_values(obj);
			app.editpage_form.opts.method = 'lib.py.objstore.update';
		});
	}
})
</script>