<h1>Page Content</h1>
<div id="pagelist-content"></div>

<script>

$.require('lib/views/objlist.js');
$.require('lib/js/prettydate.js');

var PageListView = ObjListView.extend({
	render_result: function(result) {
		var html = '<ol>';
		for(var i in result) {
			obj = result[i];
			obj.last_update = prettyDate(obj._updated);
			
			html += $.rep('<li><a href="#%(name)s">%(label)s</a><br>\
				<span class="help-block">%(last_update)s</span></li>', obj);
		}
		this.$b.append(html + '</ol>');
	}
})

app.pagelist = new PageListView({
	$parent: $('#pagelist-content'),
	type: 'page',
	columns: ['name', 'label', '_updated'],
	order_by: 'label'
});
</script>