<h1>Forgot Password</h1>
<p>Enter your username/email id below and we will mail you a link by which you will be able to update
your password<p>
<div id="forgot_password">
</div>

<script>
// close login (if there)
if($('#login_view').length) {
	$('#login_view').modal('hide');
}

$.require('lib/views/form/form.js');
var forget_password = new FormView({
	$parent: $('#forgot_password'),
	method: 'lib.controllers.user.forgot_password',
	fields: [
		{name:'email', label:'Username or Email id', mandatory:true}
	],
	primary_btn_label: 'Send Link',
	primary_btn_working_label: 'Sending...',
	submit_from_last_input: true,
	success: function(data) {
		if(data.message && data.message=='ok') {
			chai.view.open('#forgot_password_done');			
		}
	}
});

$('#forgot_password button.btn.secondary').css('display', 'none');

</script>